
h1{
	color : black;
	background-color : #2596be;
	font-family : roboto;
	border : black 1px ouset;
	width : 75%;
	margin-left : 14%;
	margin-top : 2%;
	border-radius : 10px;
	text-align : center;
}

p{
	width : 75%;
	margin-left : 45%;	
}

table {
	border : 1px solid grey;
	width : 75%;
	margin-left : 14%;
	text-align : center;
}

thead{
	background-color : grey;
}

th{
	font-size : 20px;
}
