
<u><h1>Liste des taches  a faire</h1></u>

<p>
	<button class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>Ajouter</button> 
</p>

<div class="row">
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Numero</th>
					<th>Taches</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Aller à ODC</td>
					<td>
						<a href="task-add.component.html" class="btn btn-info"><i class="bi bi-eye"></i>Voir</a>	
						<a href="" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Reparrtir à la maison</td>
					<td>
						<a href="task-add.component.html" class="btn btn-info"><i class="bi bi-eye"></i>Voir</a>
						<a href="" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Aller au campus</td>
					<td>
						<a href="task-add.component.html" class="btn btn-info"><i class="bi bi-eye"></i>Voir</a>
						<a href="" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

